.dataTables_wrapper {
	position: relative;	
	clear: both;	
	zoom: 1; /* Feeling sorry for IE */
	margin:15px 0px; 
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	
	float: left;
}

.dataTables_filter {
	float: left;
	text-align: right;
	clear:right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('./images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('./images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('./images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('./images/forward_enabled.jpg');
}


table.display {	margin: 0 auto;	clear: both; border-spacing:0; width: 100%;	empty-cells:show; }
table.display thead th { padding: 3px 18px 3px 10px; font-weight: bold;	cursor: pointer; text-align:left; white-space: nowrap; }
table.display td { padding: 3px 10px; vertical-align:top; }

table.display td.center { text-align: center; }
table.display td.right { text-align: right; }
table.display td.nobr { white-space:nowrap; }
table.display td.text { width:450px; } 
table.display td.full { width:100%; }   

.sorting_asc { background: url('./img/icons/asc.gif') no-repeat center right; }
.sorting_desc { background: url('./img/icons/desc.gif') no-repeat center right; }
.sorting { background: url('./img/icons/ascdesc.gif') no-repeat center right; }

table.display tbody tr:hover { 
	background: rgb(124,143,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(124,143,184) 0%, rgb(114,134,175) 23%, rgb(82,101,142) 74%, rgb(70,90,131) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(124,143,184)), color-stop(23%,rgb(114,134,175)), color-stop(74%,rgb(82,101,142)), color-stop(100%,rgb(70,90,131))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(124,143,184) 0%,rgb(114,134,175) 23%,rgb(82,101,142) 74%,rgb(70,90,131) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(124,143,184) 0%,rgb(114,134,175) 23%,rgb(82,101,142) 74%,rgb(70,90,131) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(124,143,184) 0%,rgb(114,134,175) 23%,rgb(82,101,142) 74%,rgb(70,90,131) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(124,143,184) 0%,rgb(114,134,175) 23%,rgb(82,101,142) 74%,rgb(70,90,131) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c8fb8', endColorstr='#465a83',GradientType=0 ); /* IE6-9 */

	color:#FFF; 
}
tr.odd { background-color: #FFF; }
tr.even { background-color: #FFF; }


.dataTables_scroll { clear: both; }

.dataTables_scrollBody { *margin-top: -1px; }

.top, .bottom {	padding: 15px; background-color: #F5F5F5; border: 1px solid #CCCCCC;}

.top .dataTables_info {	float: none; }

.clear { clear: both; }

.dataTables_empty { text-align: center; }

.paging_full_numbers {
	width: 250px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers .paginate_button,
 	.paging_full_numbers .paginate_active {
	display: inline-block;
	border: 1px solid #aaa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0px 4px 0px 4px;
	line-height: 16px;
	margin: 0px 2px 0px 2px;
	cursor: pointer;
	*cursor: hand;		
	vertical-align: bottom;
}

.paging_full_numbers .paginate_button {
	background-color: #ddd;
}

.paging_full_numbers .paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers .paginate_active {
	_background-color: #99B3FF;
	background-color:#FFF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

