/* 
    Document   : sagud
    Created on : 17.05.2013., 13:30:15
    Author     : Sagud
    Description:
        Purpose of the stylesheet follows.
*/

body, td, div, span, h1, h2, h3, h4, h5, h6, h7, p, input, select, option, textarea, button {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

div#googleMap {
    width:948px;
    height:250px;
}

div#choiceDiv {
    position: absolute; 
    width: 200px; 
    height: 220px; 
    margin:-235px 0 0 15px;
}

div#choiceDiv h1 {
    font-size: 22px; 
    margin-left: 15px; 
    margin-top: 15px;
}

div#choiceDiv p{
    margin-left: 12px; 
    font-size: 13px; 
    margin-top: 10px;
}

a#minimizeBtn {
    float: right; 
    font-size: 10px;
    margin-top: -65px; 
    margin-right: 5px; 
    color: #93a2c4;
}

div.content {
    width: 180px; 
    height: 120px; 
    margin-left: 10px;
    float: left;
}

div.content ul {
    list-style-type: none;
    margin-left: -20px;
    margin-top: -10px;
}

a#maximizeBtn {
    position: absolute; 
    height: 20px; 
    margin:-26px 0 0 0px;
}

div.row h1 {
    color: #e30000;
    font-size: 30px;  
    font-weight: normal;
}

div#mainPart {
    width: 950px;
}

div#textSearch {
    margin-top: 7px;
}

div#inputSearch {
    margin-left: -60px;
}

div#btnSearch {
    margin-left: 250px;
}

div#divSearch {
    margin-top: 25px;
    margin-left: 25px;
}

input#inputS {
    display:block; 
    width: 300px; 
    height: 34px;
}

button#buttonS {
    width: 150px; 
    height: 36px; 
    border:1px solid #bfbfbf;
}

button.searchStyle {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}

div#choicesSearch {
    margin-top: 50px;
}

div#quick-search {
    height: 500px;
    border: 1px solid silver;
}

div#quick-search.size-addon {
    height: 695px;
}

div.tab-pane {
    margin-top: 20px;
    margin-left: 20px;
}

div.spaceCheckbox {
    margin-left: 10px;
}

div.tab-pane input[type="checkbox"] {
    margin-top: -5px;
    margin-left: 70px;
}

div#searchResults01 {
    margin-top: 32px;
    margin-left: -80px;
}

div#searchResults02 {
    float: right;
    margin-top: 5px;
}

div#searchResultsCenter {
    height: 592px;
    margin-top: -20px;
}

#pager-previous {
    position: absolute;
    left: 4%;
}

#pager-previous {
    position: absolute;
    left: 88%;
}

#pager-previous, #pager-next {
    background: url(../img/sides.jpg);
    background-position: left;
    padding: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    border: 1px solid silver;
    width: 42px;
    height: 590px;
}

/*a#pager-previous:hover, a#pager-next:hover {
    -webkit-box-shadow: 3px 1px 12px -1px #689;
    box-shadow: 1px 1px 12px -1px #689;
    background-position: right;
}*/

div#myResults {
    margin-left: 5px;
    height: 590px;
}

div#results1, div#results2, div#results3 {
    width: 250px;
    margin-top: 1px;
    margin-left: 1px;
    height: 586px;
    max-height: 586px;
    max-width: 250px;
    border-right: 1px solid black;
}

img.maxImageSize {
    max-width:205px;
    max-height:107px;
    border: 1px solid white;
    width: 205px;
    height: 107px;
}

img.maxImageSize2 {
    max-width:50px;
    max-height:38px;
    border: 1px solid white;
    width: 50px;
    height: 38px;
}

img.maxImageSize:hover {
    border: 1px solid black;
}

img.maxImageSize2:hover {
    border: 1px solid silver;
}

div.addToList {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 21px;
    width: 50px;
}

div.addToList a {
    text-decoration: none;
}

p.resultsName {
    font-weight: bold;
}

p.resultsInfo {
    font-size: 13px;
}

p.resultsName, p.resultsInfo {
    margin-top: -10px;
    float: left;
    text-indent:17px;
}


p.firstEvent {
    margin-top: -25px;
}

button.textSizeButton {
    font-size: 12px;
    margin-left: 10px;
}

div.dnl-color ul li a {
    border:1px solid #d4ddee;
    background: #aabbde;
    color: #231f20;
}

div.dnl-color ul li a:hover {
    background: #8a9cc2;
    color: black;
    border:1px solid #231f20;
}

/** Pager **/
div.simplePagerContainer {
    margin-left: 50px;
    display: block;
    clear:both;
}

ul.simplePagerNav {
    list-style-type: none;
    text-align: right;
}

ul.simplePagerNav li {
    padding: 0px;
    margin-bottom: 10px; 
    margin-left: 5px;
    clear:both;
    display:inline;

}

ul.simplePagerNav li a {
    border:1px solid #d4ddee;
    text-decoration: none;
    padding: 4px 13px 4px 13px;
    background: #aabbde;
    color: #231f20;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}

ul.simplePagerNav li a:hover {
    background: #8a9cc2;
    color: black;
    border:1px solid #231f20;
    margin-bottom: 5px;
}

li.currentPage  {
    border:3px solid black;
}

ul.pagination3 {
}

ul.pagination3 li {
    list-style-type: none;

}

div#footer a:hover {
    color:white;
    text-decoration: none;
}

/** END OF Pager **/


/** BAR PAGE **/
div#bigNav {
    margin: 0px;
}

div#CalendarNav {
    border:1px solid black;
}

div.eventsMainDiv {
    padding-left: 0px;
}

div.eventsTabContent {
    height: 800px;
    width: auto;
}

div#quick-search.size-addon2 {
    height: 850px;
    width: 730px;
    display: inline-block;
    border-left: none;
    -webkit-box-shadow: 20px 20px 10px -16px rgba(0, 0, 0, 0.1);
    box-shadow: 20px 20px 10px -16px rgba(0, 0, 0, 0.1);
}

div.infoBar {
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
}

div#openingHoursDiv, div#addressDiv, div#friendsHereNowDiv {
    height: 180px;
    margin-bottom: 20px;
    background-color: #FFF;
    width: 187px;
    height: 230px;
    margin-left: 15px;
    border: 1px solid silver;
}

div#openingHoursDiv h1, div#friendsHereNowDiv h1, div#addressDiv h1 {
    color: #e30000;
    font-size: 22px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 5px;
}

div#openingHoursDiv table, div#addressDiv table, div#friendsHereNowDiv table {
    margin-left: 10px;
}

div#openingHoursDiv table td, div#addressDiv table td, div#friendsHereNowDiv table td {
    padding-left: 5px;
    font-size: 12px;
}

div#friendsHereNowDiv table {
    border-collapse:separate; 
    border-spacing: 4px;
    margin-left: 5px;
}

div#friendsHereNowDiv table tr td img {
    max-height: 30px;
    max-width: 30px;
    width: 30px;
    height: 30px;
}

div#addressDiv p {
    font-size: 12px;
    margin-left: 13px;
    margin-bottom: 0px;
}

div#mainPart2 {
    width: 920px;
}

div.columnEvents {
    width: 860px;
    margin-left: 27px;
}

li.bigNavLinks {
    width:180px;
}

li.bigNavLinks a {
    background: #eeedea;

}

li.bigNavLinks a:hover {
    background: #c1c0be;

}
li.bigNavLinks a {
    background: #dedcd6;
}

li.bigNavLinks a table {
    border-collapse: separate;
    border-spacing: 3px;
}

div#picbarinfo, div#picenp, div#picrnb, div#picsm {
    width: 38px;
    height: 36px;
    background-position: 100% 0%;
}

div#picbarinfo {
    background-image: url(../img/binfo.png);
}

div#picenp {
    background-image: url(../img/eventsIcon.jpg);
}

div#picrnb {
    background-image: url(../img/bnr.png);
}

div#picsm {
    background-image: url(../img/ft.png);
}

li.bigNavLinks a:hover div#picbarinfo, li.bigNavLinks a:hover div#picenp, li.bigNavLinks a:hover div#picrnb, li.bigNavLinks a:hover div#picsm {
    background-position: left;
}

li.active div#picbarinfo, li.active div#picenp, li.active div#picrnb, li.active div#picsm {
    background-position: left;
}

div#tab2 h1 {
    font-size:28px;
    margin-top: 0px;
}

p.barEventDate {
    color: #e30000;
}

p.barEventTitle {
    font-weight: bold;
}

p.barEventText {
    padding-right: 20px;
}

img.barEventImg {
    float: left;
    margin-right: 20px;
    max-width: 105px;
    max-height: 105px;
}

a.barEventReminder {
    margin-top: 5px;
    text-align: right;
    display: block;
    margin-right: 30px;
}

a.barEventReminder:hover {
    text-decoration: none;
    color: #344770;
}

#layer-image { 
    background-image: url(../img/demo/bar_cover.png);
    top:0px; 
    background-repeat:no-repeat; 
    background-position:top center; 
    height:234px; 
    width:100%; 
    margin-left: -6px;
}

#headerBarTitle {
    position: absolute;
    margin-left: 10px;
    margin-top: -126px;
    width: 800px;
    height: 33px;
    color: white;
    font-weight: 500;
    font-size: 33px;
}

#barGoogleMap {
    width: 240px;
    height: 195px;
    float: right;
    margin-right: 40px;
    margin-top: -236px;
}

div#contentMaps {
    width: 48px;
    height: 80px;
    position: absolute;
    left: 897px;
    top: -148px;
}

div#contentMaps img {
    border: 1px solid silver;
}

p#onTheMap {
    width: 125px;
    height: 25px;
    position: absolute;
    left: 958px;
    top: -230px;
    font-weight: bold;
    font-size: 18px;
}

div#userMenu, div#barMenu {
    display: block;
    margin: 0px auto;
    position: relative;
    width: 1114px;
}

div#userMenu {
    height: 60px;
    background: #ffffff;
}

div#barMenu {
    margin-top: -90px;
    background: #e9e7e3;
}

/* Fix in Chome and Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    div#barMenu {
        margin-top: -70px; /* This works only in Safari and Google Chrome */
    }
}

#grid-home {
    margin-top: 134px;
}

div#loginPanel {
    margin-left: 5px;
    margin-top: 2px;
}

div#loginPanel p {
    margin:0px;
}

.userMenu-inline, .barMenu-inline {
    float: left; 
    margin-top: 0.5%;
}

.userMenu-inline {
    margin-left: 1%;
}

.barMenu-inline {
    margin-left: 1.9%;
    margin-bottom: 1.4%;
    margin-top: -0.4%;
}

img#dnlUserPic {
    width: 55px;
    height: 55px;
    max-height: 55px;
    max-width: 55px;
    margin-top: -4px;
    margin-left: -10px;
}

.userConfig {
    float:left;
}

.verticalLine {
    margin-top: 4px;
    height: 12px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid black;
}

p#loggedInTextStyle, p#loggedInNameStyle {
    color: #334770;
    font-weight: bold;
}

p#loggedInTextStyle {
    font-size: 13px;
}

p#loggedInNameStyle {
    font-size: 15px;
}

.barNavPics {
    background-image: url(../img/UserNotifications.jpg);
    width: 113px;
    height: 46px;
}

.picUserNotification {
    margin-left: 173px;
}

.picMessages {
    background-position: 0px -46px;
}

.picAddFanPage {
    background-position: 0px -92px;
}

.picMyDnl {
    background-position: 0px -138px;
}

.picMyBars {
    background-position: 0px -184px;
}

.picUserNotification:hover {
    background-position: -113px 0px; 
}

.picMessages:hover {
    background-position: -113px -46px;
}

.picAddFanPage:hover {
    background-position: -113px -92px;
}

.picMyDnl:hover {
    background-position: -113px -138px;
}

.picMyBars:hover {
    background-position: -113px -184px;
}

.picLogOut {
    background-image: url(../img/logout.jpg);
    width: 65px;
    height: 46px;
}

.picLogOut:hover {
    background-position: -65px 0px;
}

.verticalLineLogOut {
    height: 48px;
    border-right: 1px solid #c2c8d4;
}

.barMenuPics1 {
    background-image: url(../img/barNav2.jpg);
    width: 123px;
    height: 47px;
}

.barMenuPics2 {
    background-image: url(../img/barNav1.jpg);
    width: 114px;
    height: 47px;
}

.picAddToPubCrawl {
    background-position: 0px -47px;
}

.picAddToBarList {
    background-position: 0px -94px;
}

.picBackToOverview:hover {
    background-position: -123px -47px;
}

.picAddToFavoriteBars:hover {
    background-position: -114px 0px;
}

.picAddToPubCrawl:hover {
    background-position: -114px -47px;
}

.picAddToBarList:hover {
    background-position: -114px -94px;
}

.picRatingGrade {
    background-image: url(../img/ratingGrade.jpg);
    width: 33px;
    height: 47px;
    background-position: -33px -47px;
    margin-left: 0px;
}

.picRatingLast {
    margin-left: 0px;
}

.middle-screen {
    margin: 0 auto;
}

/** END OF BAR PAGE **/
