/* 
    Document   : sagud
    Created on : 17.05.2013., 13:30:15
    Author     : Sagud
    Description:
        Purpose of the stylesheet follows.
*/

body, td, div, span, h1, h2, h3, h4, h5, h6, h7, p, input, select, option, textarea, button {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

div#googleMap {
    width:948px;
    height:250px;
}

div#choiceDiv {
    position: absolute; 
    width: 200px; 
    height: 220px; 
    margin:-235px 0 0 15px;
}

div#choiceDiv h1 {
    font-size: 22px; 
    margin-left: 15px; 
    margin-top: 15px;
}

div#choiceDiv p{
    margin-left: 12px; 
    font-size: 13px; 
    margin-top: 10px;
}

a#minimizeBtn {
    float: right; 
    font-size: 10px;
    margin-top: -65px; 
    margin-right: 5px; 
    color: #93a2c4;
}

div.content {
    width: 180px; 
    height: 120px; 
    margin-left: 10px;
    float: left;
}

div.content ul {
    list-style-type: none;
    margin-left: -20px;
    margin-top: -10px;
}

a#maximizeBtn {
    position: absolute; 
    height: 20px; 
    margin:-26px 0 0 0px;
}

div.row h1 {
    color: #e30000;
    font-size: 30px;  
    font-weight: normal;
}

div#mainPart {
    width: 950px;
}

div#textSearch {
    margin-top: 7px;
}

div#inputSearch {
    margin-left: -60px;
}

div#btnSearch {
    margin-left: 250px;
}

div#divSearch {
    margin-top: 25px;
    margin-left: 25px;
}

input#inputS {
    display:block; 
    width: 300px; 
    height: 34px;
}

button#buttonS {
    width: 150px; 
    height: 36px; 
    border:1px solid #bfbfbf;
}

button.searchStyle {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
}

div#choicesSearch {
    margin-top: 50px;
}

div#quick-search {
    height: 500px;
    border: 1px solid silver;
}

div#quick-search.size-addon {
    height: 695px;
}

div.tab-pane {
    margin-top: 20px;
    margin-left: 20px;
}

div.spaceCheckbox {
    margin-left: 10px;
}

div.tab-pane input[type="checkbox"] {
    margin-top: -5px;
    margin-left: 70px;
}

div#searchResults01 {
    margin-top: 32px;
    margin-left: -80px;
}

div#searchResults02 {
    float: right;
    margin-top: 5px;
}

div#searchResultsCenter {
    height: 592px;
    margin-top: -20px;
}

#pager-previous {
    position: absolute;
    left: 4%;
}

#pager-previous {
    position: absolute;
    left: 88%;
}

#pager-previous, #pager-next {
    background: url(../img/sides.jpg);
    background-position: left;
    padding: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    border: 1px solid silver;
    width: 42px;
    height: 590px;
}

/*a#pager-previous:hover, a#pager-next:hover {
    -webkit-box-shadow: 3px 1px 12px -1px #689;
    box-shadow: 1px 1px 12px -1px #689;
    background-position: right;
}*/

div#myResults {
    margin-left: 5px;
    height: 590px;
}

div#results1, div#results2, div#results3 {
    width: 250px;
    margin-top: 1px;
    margin-left: 1px;
    height: 586px;
    max-height: 586px;
    max-width: 250px;
    border-right: 1px solid black;
}

img.maxImageSize {
    max-width:205px;
    max-height:107px;
    border: 1px solid white;
    width: 205px;
    height: 107px;
}

img.maxImageSize2 {
    max-width:50px;
    max-height:38px;
    border: 1px solid white;
    width: 50px;
    height: 38px;
}

img.maxImageSize:hover {
    border: 1px solid black;
}

img.maxImageSize2:hover {
    border: 1px solid silver;
}

div.addToList {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 21px;
    width: 50px;
}

div.addToList a {
    text-decoration: none;
}

p.resultsName {
    font-weight: bold;
}

p.resultsInfo {
    font-size: 13px;
}

p.resultsName, p.resultsInfo {
    margin-top: -10px;
    float: left;
    text-indent:17px;
}


p.firstEvent {
    margin-top: -25px;
}

button.textSizeButton {
    font-size: 12px;
    margin-left: 10px;
}

div.dnl-color ul li a {
    border:1px solid #d4ddee;
    background: #aabbde;
    color: #231f20;
}

div.dnl-color ul li a:hover {
    background: #8a9cc2;
    color: black;
    border:1px solid #231f20;
}

/** Pager **/
div.simplePagerContainer {
    margin-left: 50px;
    display: block;
    clear:both;
}

ul.simplePagerNav {
    list-style-type: none;
    text-align: right;
}

ul.simplePagerNav li {
    padding: 0px;
    margin-bottom: 10px; 
    margin-left: 5px;
    clear:both;
    display:inline;

}

ul.simplePagerNav li a {
    border:1px solid #d4ddee;
    text-decoration: none;
    padding: 4px 13px 4px 13px;
    background: #aabbde;
    color: #231f20;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}

ul.simplePagerNav li a:hover {
    background: #8a9cc2;
    color: black;
    border:1px solid #231f20;
    margin-bottom: 5px;
}

li.currentPage  {
    border:3px solid black;
}

ul.pagination3 {
}

ul.pagination3 li {
    list-style-type: none;

}

/** END OF Pager **/
